.root {
  margin: 48px 0;
  padding: 24px;
}

.formRow {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.formRowFlex {
  display: flex;
}

.formRowFlexEnd {
  display: flex;
  justify-content: flex-end;
}

div.formCell {
  flex-grow: 1;
  margin: 0 12px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
