.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0;
}

.Paper {
  padding: 24px;
}

.formRow {
  display: block;
  margin-top: 24px;
  margin-bottom: 12px;

  & button {
    margin-left: 12px;
  }
}

.formRowFlex {
  display: flex;
}

.formRowFlexEnd {
  display: flex;
  justify-content: flex-end;
}

div.formCell {
  flex-grow: 1;
  margin: 0 12px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.del_row {
  border: 0;
  background: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;

  &:active {
    transform: scale(0.8);
  }

  & svg {
    fill: red;
  }
}
