.Loader {
  padding: 100px;
}

.LoaderText {
  margin-bottom: 12px;
}

.Caption {
  margin: 24px 0 12px 0 !important;
}

.Error {
  color: red;
  margin: 24px 0;
}

.TableCell {
  width: 150px;
}

.TableHead {
  background-color: #b9f1f3;
}
